<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaboratoriaAndroid"
        tools:targetApi="31">


        <activity
            android:name=".lab3.Lab3Activity"
            android:exported="false" />
        <activity
            android:name=".lab2.PhoneFormActivity"
            android:exported="false"
            android:parentActivityName=".lab2.Lab2Activity" />
        <activity
            android:name=".lab1.Lab1GUIActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab1.OcenyActivity"
            android:exported="false"
            android:parentActivityName=".lab1.Lab1GUIActivity" />
        <activity
            android:name=".lab2.Lab2Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lab4.Lab4Activity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".lab3.DownloadService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>